<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Christopher Enloe</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rock+Salt">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <section class="name-container">
      <h1 class="name">Christopher Enloe</h1>
      <h1 class="description">Composer | Performer | Producer</h1> </section>
  </header>
  <nav class="main-nav">
    <div class="link-container"><%= link_to 'Scores', store_index_path, class:"nav-link" %></div>
    <div class="link-container"><a href="#" class="nav-link">Bio</a></div>
  </nav>
  <footer> <a href="mailto:christopher.enloe@gmail.com?body=Please%20include%20your%20full%20name&#44;%20email&#44;%20and%20message." class="email-button">Email Me <span class="fa fa-envelope-o fa-lg"></span></a> </footer>
  <script src="js/script-main.js"></script>
</body>
</html>
